{% extends 'cms/base.html.twig' %}


{% block body %}


   <form action="" method="post">
      <input type="text" name="title" value="{{ post.title }}">
      <textarea name="description" id="" cols="30" rows="10">{{ post.description }}</textarea>

      <button>Odeslat</button>
   </form>

{% endblock %}
