{% extends 'cms/base.html.twig' %}


{% block body %}

   <a href="{{ path('admin-post-new') }}">Nový článek</a>
   <br>
{% for post in posts %}

   {{ post.id }}
   {{ post.title }}
   {{ post.description }}

{% endfor %}

{% endblock %}
